<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            body {
                background-color: #f2f1ed;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
                overflow-x: hidden;
            }

            h1 {
                font-weight: normal;
            }

            img {
                margin: 0 auto;
                display: block;
            }

            .title {
                align-items: center;
                justify-content: center;
                text-align: center;
            }
            .countdownMark{
                margin: 0 auto;
                width: 100vw;
                align-items: center;
                display: flex;
                justify-content: center;

            }

            .countdownMark > .simply-section {
                display: inline-block;
                font-size: 1.5em;
                list-style-type: none;
                padding: 1em;
                text-transform: uppercase;
            }

            .countdownMark > .simply-section div {
                display: flex;
                flex-direction: column;
            }

            .countdownMark > .simply-section div .simply-amount {
                font-size: 4.5rem;
            }

            .countdownMark > .simply-section div .simply-word {
                font-size: 1em;
                text-align: center;
                margin-top: 0.5em;
            }

            .links {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-top: 250px
            }

            .links span {
                font-size: 1em;
                padding: 5px
            }

            .links span a {
                text-decoration: none;
                
            }

            .more-links a {
                transition: all .2s ease-in-out;
            }

            .more-links img {
                padding: 5px;
            }

            .more-links img:hover {
                transform: scale(1.1);
            }

            .more-links img {
                width: 30px;
            }
            
        </style>
    </head> 
        <header>
            <title>PoeCountdown</title>
        </header>
        <body>
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/countdown/2.6.0/countdown.min.js"></script>
            <script src="http://vincentloy.github.io/simplyCountdown.js/dist/simplyCountdown.min.js"></script>

            <img src="http://web.poecdn.com/image/logo/render_full.png" alt="poelogo">
            <div class="title">
                <h1>Countdown to the end of the league:</h1>
            </div>
            <div class="countdownMark">
                <script>
                    
                    const ano = <%=year%>
                    const mes = <%=month%>
                    const dia = <%=day%>


                    // default example
                    simplyCountdown('.countdownMark', {
                        year: ano,
                        month: mes,
                        day: dia,

                        enableUtc: true,
                        sectionClass: 'simply-section'
                    });


                </script>
            </div>
            <div class="links">
                <span>Made by: <a href="https://twitter.com/PandaZIM" target="_blank">PandaZIM</a></span>
                <div class="more-links">
                    <a href="https://github.com/pandazim" target="_blank">
                        <img src="https://image.flaticon.com/icons/png/512/25/25231.png" alt="GitHub">
                    </a>
                </div>
            </div>
            
        </body>
    
</html>